<ion-header>

  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="downloadReport()">Generar reporte</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-card>

   <ion-card class="ion-card-2">
  <ion-card-header>
   <ion-card-title>Total Gastado</ion-card-title>
   <ion-card-subtitle>Resumen</ion-card-subtitle>
   <ion-card-subtitle>$ {{ totalSpent | number:'1.2-2' }}</ion-card-subtitle>
  </ion-card-header>
   </ion-card>
  </ion-card>
  
  <ion-card class="ion-card-3">
    <ion-card-header>
      <div class="div-gastos"><ion-card-title>Gastos Recientes</ion-card-title>
      <ion-card-subtitle class="vertodos">Ver todos</ion-card-subtitle>
    </div>     
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let g of recentExpenses">
          <ion-thumbnail slot="start">
            <img alt="recibo" [src]="g.webviewPath || 'https://ionicframework.com/docs/img/demos/thumbnail.svg'" />
          </ion-thumbnail>
          <ion-label>
            <h3>{{ g.name || 'Sin descripcion' }}</h3>
            <p>Monto: {{ g.monto || 0 | number:'1.2-2' }}</p>
            <p>{{ g.timestamp | date:'short' }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!--app-explore-container name="Tab 1 page"></!--app-explore-container-->
</ion-content>
