ion-card {
  --background: #2e64f8;
  --color: #ffffff;
}

ion-card-title {
  --color: #ffffff;
}

ion-card-subtitle {
  --color: #ffffff;
}

ion-card-2 {
  --background: #b1d6f8;
  --color: #ffffff;
}

ion-card-3 {
  --background: #ffffff;
  --color: #ffffff;
}
div-gastos {
  display: flex;
  justify-content: column;
  align-items: center;
}


